﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car salon</h1>
    <p class="lead">Car salon is a free Web applications made from .NET, HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Cars</h2>
        <p>
            Create, read, update and delete cars.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Go to cars &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Salons</h2>
        <p>Create, read, update and delete salons.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Go to salons &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Manufacturers</h2>
        <p>Create, read, update and delete manufacturers.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Go to manufaturers &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Contracts</h2>
        <p>Create, read, update and delete contracts.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Go to contracts &raquo;</a></p>
    </div>
</div>